{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
    {{ request.user.username }} posts
{% endblock %}

{% block content %}
<!-- ##### Blog Area Start ##### -->
<div class="blog-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">
                    {% for user_post in items %}
                    <!-- Single Featured Post -->
                    <div class="single-blog-post featured-post mb-30">
                        <div class="post-thumb">
                            <a href="{{ user_post.get_absolute_url }}"><img src="{{ user_post.image.url }}" alt=""></a>
                        </div>
                        <div class="post-data">
                            <a href="/category/{{ user_post.category.slug }}/{{ user_post.category.id }}/" class="post-catagory">{{ user_post.category.name }}</a>
                            <a href="{{ user_post.get_absolute_url }}" class="post-title">
                                <h6>{{ user_post.title }}</h6>
                            </a>
                            <div class="post-meta">
                                <p class="post-author"><a href="{% url 'accounts:post_update' id=user_post.id %}">Update</a></p>
                                <p class="post-excerp">{{user_post.body|truncatewords:40|safe}}</p>
                                <!-- Post Like & Post Comment -->
                                <div class="d-flex align-items-center">
                                    <a href="#" class="post-like"><img src="{% static 'img/core-img/like.png' %}" alt=""> <span>392</span></a>
                                    <a href="#" class="post-comment"><img src="{% static 'img/core-img/chat.png' %}" alt=""> <span>10</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <h6>Hi {{ request.user.username }} you have no post! </h6>
                    <p>You can make a post.<a href="{% url 'accounts:post_create' %}">Click here</a></p>
                    {% endfor %}
                    <!-- ##### Pagination start ##### -->
                    {% if items.has_other_pages %}
                    <nav aria-label="Page navigation example" style="margin-top:-30px;">
                        <ul class="pagination mt-50">
                            {% if items.has_previous %}
                            <li class="page-item active">
                              <a class="page-link" href="?page={{ items.previous_page_number }}">Prev</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                              <a class="page-link"><span>Prev</span></a>
                            </li>
                            {% endif %}
                            {% for i in page_range %}
                                {% if items.number == i %}
                                  <li class="page-item active">
                                    <a class="page-link" href="#">{{i}}<span class="sr-only">(current)</span></a>
                                  </li>
                              {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                              {% endif %}
                            {% endfor %}
                            {% if items.has_next %}
                                <li class="page-item"><a class="page-link" aria-label="Next" href="?page={{items.next_page_number}}">Next</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link"><span>Next</span></a></li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                     <!-- ##### Pagination end ##### -->
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="blog-sidebar-area">

                    <!-- Latest Posts Widget -->
                    <div class="latest-posts-widget mb-50">
                        {% for sidepost in small_posts %}
                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="{{ sidepost.get_absolute_url }}"><img src="{{sidepost.image.url}}" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="{% url 'blog:article_category' id=sidepost.id slug=sidepost.category.slug %}" class="post-catagory">{{ sidepost.category.name }}</a>
                                <div class="post-meta">
                                    <a href="{{ sidepost.get_absolute_url }}" class="post-title">
                                        <h6>{{sidepost.title}}</h6>
                                    </a>
                                    <p class="post-date"><span>{{ sidepost.posted|date:'H:i A' }}</span> | <span>{{ sidepost.posted|date:'F y' }}</span></p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                    <!-- Popular News Widget -->
                    <div class="popular-news-widget mb-30">
                        <h3>4 Most Popular News</h3>
                        {% for popular in most_popular %}
                        <!-- Single Popular Blog -->
                        <div class="single-popular-post">
                            <a href="{{ popular.get_absolute_url }}">
                                <h6><span>{{ forloop.counter }}</span>{{ popular.title }}</h6>
                            </a>
                            <p>{{ popular.posted|date:'F d, Y' }}</p>
                        </div>
                        {% empty %}
                        <h6>No post available </h6>
                        {% endfor %}
                    </div>

                    <!-- Newsletter Widget -->
                    <div class="newsletter-widget mb-50">
                        <h4>Newsletter</h4>
                        <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        <form action="#" method="post">
                            <input type="text" name="text" placeholder="Name">
                            <input type="email" name="email" placeholder="Email">
                            <button type="submit" class="btn w-100">Subscribe</button>
                        </form>
                    </div>

                    <!-- Latest Comments Widget -->
                    <div class="latest-comments-widget">
                        <h3>Latest Comments</h3>

                        <!-- Single Comments -->
                        <div class="single-comments d-flex">
                            <div class="comments-thumbnail mr-15">
                                <img src="{% static 'img/bg-img/29.jpg' %}" alt="">
                            </div>
                            <div class="comments-text">
                                <a href="#">Jamie Smith <span>on</span> Facebook is offering facial recognition...</a>
                                <p>06:34 am, April 14, 2018</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Area End ##### -->
{% endblock %}