{% extends 'blog/base.html' %}
{% load static %}
{% block title %} category {{ topic.name }} posts {% endblock %}



{% block content %}
<!-- ##### Featured Post Area Start ##### -->
<div class="featured-post-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-8">
                    <div class="row">

                        <!-- Single Featured Post -->
                        <div class="col-12 col-lg-7">
                            <div class="single-blog-post featured-post">
                                <div class="post-thumb">
                                    <a href="{{ featured_big.get_absolute_url }}"><img src="{{ featured_big.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{{ featured_big.get_absolute_url }}" class="post-title">
                                        <h6>{{ featured_big.title }}</h6>
                                    </a>
                                    <div class="post-meta">
                                        <p class="post-author">By <a href="#">{{featured_big.author.username}}</a></p>
                                        <p class="post-excerp">
                                            {{ featured_big.body|truncatewords:40|safe }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-5">
                           {% for medium in featured_medium %}
                           <div class="single-blog-post style-2">
                                <div class="post-thumb">
                                    <a href="{{ medium.get_absolute_url }}"><img src="{{ medium.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{{ medium.get_absolute_url }}" class="post-title">
                                        <h6>{{ medium.title }}</h6>
                                    </a>
                                </div>
                            </div>
                            {% empty %}
                           <h6>No Post available</h6>
                           {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Featured Post -->
                    {% for small in featured_small %}
                    <div class="single-blog-post small-featured-post d-flex">
                        <div class="post-thumb">
                            <a href="{{ small.get_absolute_url }}"><img src="{{ small.image.url }}" alt=""></a>
                        </div>
                        <div class="post-data">
                            <div class="post-meta">
                                <a href="{{ small.get_absolute_url }}" class="post-title">
                                    <h6>{{ small.title }}</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <h6>No post available </h6>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
<!-- ##### Featured Post Area End ##### -->

<div class="popular-news-area section-padding-80-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="section-heading">
                        <h6>All posts</h6>
                    </div>
                    <div class="row">
                    <!-- Single Post -->
                        {% for p in items %}
                        <div class="col-12 col-md-4">
                            <div class="single-blog-post style-3">
                                <div class="post-thumb">
                                    <a href="{{ p.get_absolute_url }}"><img src="{{ p.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{{ p.get_absolute_url }}" class="post-title">
                                        <h6>{{ p.title }}</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <h6>No post available </h6>
                        {% endfor %}
                         <!-- ##### Pagination start ##### -->
                        {% if items.has_other_pages %}
                        <nav aria-label="Page navigation example" style="margin-top:-30px;">
                            <ul class="pagination mt-50">
                                {% if items.has_previous %}
                                <li class="page-item active">
                                  <a class="page-link" href="?page={{ items.previous_page_number }}">Prev</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                  <a class="page-link"><span>Prev</span></a>
                                </li>
                                {% endif %}
                                {% for i in page_range %}
                                    {% if items.number == i %}
                                      <li class="page-item active">
                                        <a class="page-link" href="#">{{i}}<span class="sr-only">(current)</span></a>
                                      </li>
                                  {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                  {% endif %}
                                {% endfor %}
                                {% if items.has_next %}
                                    <li class="page-item"><a class="page-link" aria-label="Next" href="?page={{items.next_page_number}}">Next</a></li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link"><span>Next</span></a></li>
                                {% endif %}
                            </ul>
                        </nav>
                        {% endif %}
                         <!-- ##### Pagination end ##### -->
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="section-heading">
                        <h6>Info</h6>
                    </div>
                    <!-- Popular News Widget -->
                    <div class="popular-news-widget mb-30">
                        <h3>4 Most Popular News</h3>
                        {% for popular in most_popular %}
                        <!-- Single Popular Blog -->
                        <div class="single-popular-post">
                            <a href="{{ popular.get_absolute_url }}">
                                <h6><span>{{ forloop.counter }}</span>{{ popular.title }}</h6>
                            </a>
                            <p>{{ popular.posted|date:'F d, Y' }}</p>
                        </div>
                        {% empty %}
                        <h6>No post available </h6>
                        {% endfor %}
                    </div>

                    <!-- Newsletter Widget -->
                    <div class="newsletter-widget">
                        <h4>Newsletter</h4>
                        <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        <form action="#" method="POST">{% csrf_token %}
                            <input type="text" name="email" placeholder="Email">
                           <button type="submit" class="btn w-100">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<style>
    .popular-news-widget h3 {
        margin-top: -40px;
        margin-bottom: 10px;
}
</style>
{% endblock %}


