{% extends 'blog/base.html' %}
{% load static %}


{% block title %} Welcome to my blog {% endblock %}

{% block content %}
<!-- ##### Featured Post Area Start ##### -->
    <div class="featured-post-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-8">
                    <div class="row">
                        {% if featured_big %}
                        <!-- Featured Post big -->
                        <div class="col-12 col-lg-7">
                            <div class="single-blog-post featured-post">
                                <div class="post-thumb">
                                    <a href="{{ featured_big.get_absolute_url }}"><img src="{{featured_big.image.url}}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'blog:article_category' id=featured_big.id slug=featured_big.category.slug %}" class="post-catagory">{{featured_big.category.name}}</a>
                                    <a href="{{ featured_big.get_absolute_url }}" class="post-title">
                                        <h6>{{featured_big.title}}</h6>
                                    </a>
                                    <div class="post-meta">
                                        <p class="post-excerp">{{featured_big.body|truncatewords:35|safe}}</p>
                                        <!-- Post Like & Post Comment -->
                                        <div class="d-flex align-items-center">
                                            <a href="#" class="post-like"><img src="{% static 'img/core-img/like.png' %}" alt=""> <span>392</span></a>
                                            <a href="#" class="post-comment"><img src="{% static 'img/core-img/chat.png' %}" alt=""> <span>10</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                            <h6>No Post available</h6>
                        {% endif %}
                        <div class="col-12 col-lg-5">
                            <!-- medium Featured Post  -->
                            {% for medium in featured_medium %}
                            <div class="single-blog-post featured-post-2">
                                <div class="post-thumb">
                                    <a href="{{ medium.get_absolute_url }}"><img src="{{medium.image.url}}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'blog:article_category' id=medium.id slug=medium.category.slug %}" class="post-catagory">{{medium.category.name}}</a>
                                    <div class="post-meta">
                                        <a href="{{ medium.get_absolute_url }}" class="post-title">
                                            <h6>{{medium.title}}</h6>
                                        </a>
                                        <!-- Post Like & Post Comment -->
                                        <div class="d-flex align-items-center">
                                            <a href="#" class="post-like"><img src="{% static 'img/core-img/like.png' %}" alt=""> <span>392</span></a>
                                            <a href="#" class="post-comment"><img src="{% static 'img/core-img/chat.png' %}" alt=""> <span>10</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <h6>No Post available</h6>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Featured Post -->
                    {% for small in featured_small %}
                    <div class="single-blog-post small-featured-post d-flex">
                        <div class="post-thumb">
                            <a href="{{ small.get_absolute_url }}"><img src="{{small.image.url}}" alt=""></a>
                        </div>
                        <div class="post-data">
                            <a href="{% url 'blog:article_category' id=small.id slug=small.category.slug %}" class="post-catagory">{{small.category.name}}</a>
                            <div class="post-meta">
                                <a href="{{ small.get_absolute_url }}" class="post-title">
                                    <h6>{{small.title}}</h6>
                                </a>
                                <p class="post-date"><span>{{ small.posted|date:'H:i A' }}</span> | <span>{{ small.posted|date:'d F Y' }}</span></p>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <h6>No post available </h6>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Featured Post Area End ##### -->

    <!-- ##### Popular News Area Start ##### -->
    <div class="popular-news-area section-padding-80-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="section-heading">
                        <h6>Tech update</h6>
                    </div>
                    <div class="row">
                    <!-- Single Post -->
                        {% for technology in technology_post %}
                        <div class="col-12 col-md-4">
                            <div class="single-blog-post style-3">
                                <div class="post-thumb">
                                    <a href="{{ technology.get_absolute_url }}"><img src="{{ technology.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="/{{ technology.category.slug }}/{{ technology.category.id }}/" class="post-catagory">{{ technology.category.name }}</a>
                                    <a href="{{ technology.get_absolute_url }}" class="post-title">
                                        <h6>{{ technology.title }}</h6>
                                    </a>
<!--                                    <div class="post-meta d-flex align-items-center">-->
<!--                                        <a href="#" class="post-like"><img src="{% static 'img/core-img/like.png' %}" alt=""> <span>392</span></a>-->
<!--                                        <a href="#" class="post-comment"><img src="{% static 'img/core-img/chat.png' %}" alt=""> <span>10</span></a>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <h6>No post available </h6>
                        {% endfor %}
                    </div>
                    <div class="section-heading">
                        <h6>Sports update</h6>
                    </div>
                    <div class="row">
                    <!-- Single Post -->
                        {% for sports in sports_post %}
                        <div class="col-12 col-md-4">
                            <div class="single-blog-post style-3">
                                <div class="post-thumb">
                                    <a href="{{ sports.get_absolute_url }}"><img src="{{ sports.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="/{{ sports.category.slug }}/{{ sports.category.id }}/" class="post-catagory">{{ sports.category.name }}</a>
                                    <a href="{{ sports.get_absolute_url }}" class="post-title">
                                        <h6>{{ sports.title }}</h6>
                                    </a>
<!--                                    <div class="post-meta d-flex align-items-center">-->
<!--                                        <a href="#" class="post-like"><img src="{% static 'img/core-img/like.png' %}" alt=""> <span>392</span></a>-->
<!--                                        <a href="#" class="post-comment"><img src="{% static 'img/core-img/chat.png' %}" alt=""> <span>10</span></a>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <h6>No post available </h6>
                        {% endfor %}
                    </div>
                    <div class="section-heading">
                        <h6>Entertainment update</h6>
                    </div>
                    <div class="row">
                    <!-- Single Post -->
                        {% for entertain in entertain_post %}
                        <div class="col-12 col-md-4">
                            <div class="single-blog-post style-3">
                                <div class="post-thumb">
                                    <a href="{{ entertain.get_absolute_url }}"><img src="{{ entertain.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="/{{ entertain.category.slug }}/{{ entertain.category.id }}/" class="post-catagory">{{ entertain.category.name }}</a>
                                    <a href="{{ entertain.get_absolute_url }}" class="post-title">
                                        <h6>{{ entertain.title }}</h6>
                                    </a>
<!--                                    <div class="post-meta d-flex align-items-center">-->
<!--                                        <a href="#" class="post-like"><img src="{% static 'img/core-img/like.png' %}" alt=""> <span>392</span></a>-->
<!--                                        <a href="#" class="post-comment"><img src="{% static 'img/core-img/chat.png' %}" alt=""> <span>10</span></a>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <h6>No post available </h6>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="section-heading">
                        <h6>Info</h6>
                    </div>
                    <!-- Popular News Widget -->
                    <div class="popular-news-widget mb-30">
                        <h3>Most Popular News</h3>
                        {% for popular in most_popular %}
                        <!-- Single Popular Blog -->
                        <div class="single-popular-post">
                            <a href="{{ popular.get_absolute_url }}">
                                <h6><span>{{ forloop.counter }}</span>{{ popular.title }}</h6>
                            </a>
                            <p>{{ popular.posted|date:'F d, Y' }}</p>
                        </div>
                        {% empty %}
                        <h6>No post available </h6>
                        {% endfor %}
                    </div>

                    <!-- Newsletter Widget -->
                    <div class="newsletter-widget">
                        <h4>Newsletter</h4>
                        <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        <form action="#" method="POST">{% csrf_token %}
                            <input type="text" name="email" placeholder="Email">
                           <button type="submit" class="btn w-100">Subscribe</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- ##### Popular News Area End ##### -->

    <!-- ##### Video Post Area Start ##### -->
    <div class="video-post-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/bg1.jpg' %});">
        <div class="container">
            <div class="row justify-content-center">
                {% load embed_video_tags %}
                {% for item in videos %}
                <!-- Single Video Post -->
                <div class="col-12 col-sm-6 col-md-4">
                    <h4 style="color: white;">{{ item.title }}</h4>
                    <div class="single-video-post">
                        {% video item.video as my_video %}
                            {% video my_video '100% x 100%' %}
                        {% endvideo %}
                    </div>
                </div>
                {% empty %}
                <h4 style="color: white;">No embeded video link</h4>
                {% endfor %}
            </div>
            <a href="{% url 'blog:show_video' %}"><h6 style="color: red;">show all videos</h6></a>
        </div>
    </div>

    <!-- ##### Video Post Area End ##### -->

    <!-- ##### Editorial Post Area Start ##### -->
    <div class="editors-pick-post-area section-padding-80-50">
        <div class="container">
            <div class="row">
                <!-- Editors Pick -->
                <div class="col-12 col-md-7 col-lg-9">
                    <div class="section-heading">
                        <h6>Bangladesh</h6>
                    </div>
                    <div class="row">
                        {% for editor in bangladesh_post %}
                        <!-- Single Post -->
                        <div class="col-12 col-lg-4">
                            <div class="single-blog-post">
                                <div class="post-thumb">
                                    <a href="{{ editor.get_absolute_url }}"><img src="{{ editor.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{{ editor.get_absolute_url }}" class="post-title">
                                        <h6>{{ editor.title }}</h6>
                                    </a>
                                    <div class="post-meta">
                                        <div class="post-date"><a href="#">{{ editor.posted|date:'F d,  Y' }}</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <h6>No post available </h6>
                        {% endfor %}
                    </div>
                    <div class="section-heading">
                        <h6>Editor’s Pick</h6>
                    </div>
                    <div class="row">
                        {% for editor in editor_post %}
                        <!-- Single Post -->
                        <div class="col-12 col-lg-4">
                            <div class="single-blog-post">
                                <div class="post-thumb">
                                    <a href="{{ editor.get_absolute_url }}"><img src="{{ editor.image.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{{ editor.get_absolute_url }}" class="post-title">
                                        <h6>{{ editor.title }}</h6>
                                    </a>
                                    <div class="post-meta">
                                        <div class="post-date"><a href="#">{{ editor.posted|date:'F d,  Y' }}</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <h6>No post available </h6>
                        {% endfor %}
                    </div>
                </div>

                <!-- World News -->
                <div class="col-12 col-md-5 col-lg-3">
                    <div class="section-heading">
                        <h6>World News</h6>
                    </div>
                    {% for world in world_post %}
                    <!-- Single Post -->
                    <div class="single-blog-post style-2">
                        <div class="post-thumb">
                            <a href="{{ world.get_absolute_url }}"><img src="{{ world.image.url }}" alt="" height="199"></a>
                        </div>
                        <div class="post-data">
                            <a href="{{ world.get_absolute_url }}" class="post-title">
                                <h6>{{ world.title }}</h6>
                            </a>
                            <div class="post-meta">
                                <div class="post-date"><a href="#">{{ world.posted|date:'F d,  Y' }}</a></div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <h6>No post available </h6>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Editorial Post Area End ##### -->
{% endblock %}



