{% extends 'blog/base.html' %}
{% block title %} newsletter {% endblock %}

{% block content %}
<div class="popular-news-area section-padding-80-50" style="margin-top: -100px;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <!-- Newsletter Widget -->
                    {% if messages %}
                        {% for message in messages %}
                            <div {% if message.tags %} class="{{ message.tags }}" {% endif %} role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% else %}
                    <div class="newsletter-widget">
                        <h4>Newsletter</h4>
                        <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        <form action="{% url 'newsletters:subscribe' %}" method="POST">{% csrf_token %}
                            <input type="text" name="email" placeholder="Email">
                           <button type="submit" class="btn w-100">Subscribe</button>
                        </form>

                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
</div>


{% endblock %}

